.table{
	border:1px solid;
	width: 600px;
	border-collapse: separate;
	border-spacing: 0px;
}

.table td{
	border:1px solid;
	text-align: center;
}


hr{
	width: 600px;
}

.d-block-w-100{
	width: 300px;
	height: 100px;
}

.menu {
	height:80px; 
	width:100%; 
	background:#333; 
	color:white; 
	text-align:center
}

.fixed{
	position: fixed; top: 0
}

